{% extends 'hospital/admin_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Doctors</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>
          <th>Profile Picture</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Department</th>
          <th>Availability</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for d in doctors %}
      <tr>

        <td> {{d.get_name}}</td>
        <td> <img src="{% static d.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{d.mobile}}</td>
        <td>{{d.address}}</td>
        <td>{{d.department}}</td>
        <td><a class="btn btn-primary btn-xs toggle" onclick="toggle({{d.is_active}})" href="{% url 'deactivate-doctor' d.id  %}"></a></td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-doctor' d.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-doctor-from-hospital' d.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script>
  // Get the toggle button element
const toggleButton = document.querySelector('.toggle');

// Variable to track toggle state
let isToggled = true;

// Function to toggle state, update button text, and change background color
function toggle(value) {
    isToggled = !value;
    toggleButton.textContent = isToggled ? 'On' : 'Off';
    toggleButton.style.backgroundColor = isToggled ? 'green' : 'red'; // Change background color based on toggle state
}

// Add click event listener to toggle button
window.onload = function() {
  // Set the default value for is_active
  document.getElementById('is_active').value = 'true';

  // Optional: Output the default value of is_active
  console.log("Default is_active:", document.getElementById('is_active').value);
};
</script>

{% endblock content %}

